body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    
    grid-template-areas:
        "header header header"
        "sidebar content1 content1"
        "sidebar content2 content3"
        "footer footer footer";

    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 200px 200px auto;

    gap: 15px;
    padding: 20px;
}

.header {
    grid-area: header;
    background: #57381ce3;
    padding: 20px;
    color: white;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background: #331903c2;
    padding: 20px;
}

.content1 {
    grid-area: content1;
    background: #57381c98;
    padding: 20px;
}

.content2 {
    grid-area: content2;
    background: #57381c98;
    padding: 20px;
}

.content3 {
    grid-area: content3;
    background: #57381c98;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background:#57381ce3;
    padding: 20px;
    color: white;
    text-align: center;
}

